<%- include('partials/header')%>

    <h1 style="text-align: center">Omar J Lozoya Resume</h1>

    <div class="container">
        <iframe src="<%=pdf%>" type="application/pdf"></iframe>
    </div>

<%- include('partials/footer')%>
