<%- include('partials/header')%>

<div class="jumbotron jumbotron-fluid" style="margin-bottom: 200px">
  <div class="container">
    <h1 class="display-4" style="color: green">Success</h1>
    <h2 class="lead"><%=msg%></h2>
  </div>
</div>

 </div>


    <div class="footer-basic" style="position: fixed; margin-bottom: 0; margin-top: 100px">
        <div class="social">
            <a href="https://github.com/omarlozoya"><i class="icon">
                    <ion-icon name="logo-github"></ion-icon>
                </i></a>
            <a href="https://www.linkedin.com/in/omar-lozoya/"><i class="icon">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </i></a>
        </div>
        <p class="copyright">Omar J Lozoya © 2019</p>
    </div>

    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="index.js" charset="utf-8"></script>
</body>

</html>